<div class="container-fluid bg-default">
    <div class="container-fluid pt-4">
      <h1 id="heading" class="mb-0 heading pt-4">AGENT</h1>
      <h1 id="green" class="mb-0 heading pt-4"> DASHBOARD</h1>
    </div>
    <div class="row mt-4">
        <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/img/transaction.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Commisson</span>
                <small class="h4 font-weight-light text-muted">Check Commissions</small>
              </h5>
              <div class="mt-1">
                <button id="button" type="button" class="btn  btn-primary mb-1" data-toggle="modal" data-target="#modal-default">
                 Check</button>
                 <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true" style="display: none;">
                      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Total Commission</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h4>Your commission is:</h4>
                            <h1 class="display-2">{{totalCommission | currency:'INR'}}</h1>
                          </div>
                          <div class="modal-footer">
  
                            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <a href="#!">
              <img src="../../assets/img/patient.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
                id="card_image">
            </a>
            <div class="pt-4 text-center">
              <h5 class="h3 title">
                <span class="d-block mb-1">Patients</span>
                <small class="h4 font-weight-light text-muted">View Patients List</small>
              </h5>
              <div class="mt-3">
                <button routerLink="/agent/appointments" type="submit" id="button" class="btn btn-primary">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     
  
    </div>
  </div>
  
  