<div class="container-fluid bg-default" id="image_specs">

    <div class="container-fluid pt-4">
       
        <nav aria-label="breadcrumb" id="navBar">
            <ol class="breadcrumb bg-default" >
              <li class="breadcrumb-item"><a routerLink="/admin/home"><i id="breadCrumb" class="fas fa-home fa-6"></i></a></li>
              <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/admin/manage-medicare">Medicare Service</a></li>
            <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">Add Medicare</li>
            </ol>
          </nav>
      </div>
  <div class="card my-2 mx-auto" id="signup_card">
    <div class="card-header text-center">
      <h1 id="heading" class="mb-0 heading">Add </h1>
      <h1 id="green" class="mb-0 heading">Medicare Service</h1>
    </div>
    <div class="card-body">
      <form class="needs-validation" id="addMedicareService" [formGroup]="addmedicareService" (ngSubmit)="onSubmit()">
        <h6 class="heading-small text-muted mb-4">Medicare Service</h6>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="medicareName">Medicare Service Name</label>
              <input type="text" class="form-control " id="medicareName"
                placeholder="Enter Medicare Service Name" formControlName="medicareName"
                [ngClass]="{ 'is-invalid': submitted && f.medicareName.errors }">
              <div *ngIf="submitted && f.medicareName.errors" class="invalid-feedback">
                <div *ngIf="f.medicareName.errors.required"> Medicare Service Name is required</div>
                <div *ngIf="f.medicareName.errors.minlength"> Medicare Service Name should be at least 4 characters
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                        <label class="form-control-label" for="amount">Amount </label>
                        <input type="number" class="form-control " id="amount" placeholder="Enter Amount"
                          formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                          <div *ngIf="f.amount.errors.required">Amount is required</div>
                          <div *ngIf="f.amount.errors.minlength"> Please enter valid amount.</div>
                        </div>
                      </div>
           
          </div>

          <div class="col">
                <div class="form-group">
                        <label class="form-control-label" for="medicareDescription">Medicare Description </label>
                        <textarea id="medicareDescription" class="form-control " id="exampleFormControlTextarea2" rows="6"
                          resize="none" placeholder="Enter Medicare Description" formControlName="medicareDescription"
                          [ngClass]="{ 'is-invalid': submitted && f.medicareDescription.errors }"></textarea>
                        <div *ngIf="submitted && f.medicareDescription.errors" class="invalid-feedback">
                          <div *ngIf="f.medicareDescription.errors.required">Medicare Description is required</div>
                          <div *ngIf="f.medicareDescription.errors.minlength"> Medicare Description should be at least 4
                            characters</div>
                        </div>
                      </div>
          
          </div>
        </div>




        <button type="submit" id="button" class="btn btn-primary">
          Register
        </button>
      </form>
    </div>
  </div>

</div>
