<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">BOOK</h1>
    <h1 id="green" class="mb-0 heading pt-4"> APPOINTMENT</h1>
    <nav aria-label="breadcrumb" id="navBar">
        <ol class="breadcrumb bg-default" >
          <li class="breadcrumb-item"><a routerLink="/patient/home"><i id="breadCrumb" class="fas fa-home fa-6"></i></a></li>
          <li class="breadcrumb-item"><a id="breadCrumb" routerLink="/patient/bookappointment">Choose Medicare Service</a></li>
        
        <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">Choose Doctor</li>
        </ol>
      </nav>
    
  </div>
  <div class="card mx-2" id="choose_medicare_service_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-auto mr-auto">
          <h3 class="mb-0">Choose Doctors</h3>
        </div>

      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Hospital Name</th>
            <th>Speciality</th>
            <th>Medicare Service</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td class="table-user">
              <img *ngIf="doctor.gender=='Male'" src="../../assets/img/doctor.png" class="avatar rounded-circle mr-3">
              <img *ngIf="doctor.gender=='Female'" src="../../assets/img/doctor-female.png"
                class="avatar rounded-circle mr-3">
              <b>{{doctor.firstName}} {{doctor.lastName}}</b>
            </td>
            <td>
              <span class="text-muted">{{doctor.email}}</span>
            </td>
            <td>
              <span class="text-muted">{{doctor.contactNumber}}</span>
            </td>
            <td>
              <span class="text-muted">{{doctor.hospitalName}}</span>
            </td>
            <td>
              <span class="text-muted">{{doctor.speciality}}</span>
            </td>
            <td>
              <span class="text-muted">{{doctor.medicareService.medicareService}}</span>
            </td>
            <td>
              <button (click)="bookNow(doctor, doctor.medicareService)" id="button"
                class="btn btn-sm btn-primary btn-round btn-icon text-right mr-0 ml-auto" data-toggle="tooltip">
                <span class="btn-inner--icon"><i class="fa fa-calendar-plus"></i></span>
                <span class="btn-inner--text">Book Now</span>
              </button>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
