<div class="container-fluid bg-default">
  <div class="container-fluid pt-4">
    <h1 id="heading" class="mb-0 heading pt-4">wel</h1>
    <h1 id="green"  class="mb-0 heading pt-4">come! </h1>
  </div>
  <div class="row mt-4">

  <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a >
            <img src="../../assets/img/manager.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image">
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Admin</span>
              <small class="h4 font-weight-light text-muted"> <!--login/signup--> </small>
            </h5>
            <div class="mt-3">
              <button routerLink="/login" type="submit" id="button" class="btn btn-primary">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a >
            <img src="../../assets/img/doctor.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image">
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Doctors</span>
              <small class="h4 font-weight-light text-muted"> <!--  Doctors sign in--></small>
            </h5>
            <div class="mt-3">
              <button routerLink="/login" id="button" class="btn btn-primary">
                  Sign in
              </button>
              <button routerLink="/signup-doctor" class="btn btn-primary">
                  Sign up
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a >
            <img src="../../assets/img/patient.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image">
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Patients</span>
              <small class="h4 font-weight-light text-muted"> <!--  Patients sign in --> </small>
            </h5>
            <div class="mt-3">
              <button routerLink="/login" type="submit" id="button" class="btn btn-primary">
                  Sign in
              </button>
              <button routerLink="/signup-patient" class="btn btn-primary">
                Sign up
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <a >
            <img src="../../assets/img/agent.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              id="card_image">
          </a>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1">Agents</span>
              <small class="h4 font-weight-light text-muted"><!--  Agents sign in --></small>
            </h5>
            <div class="mt-3">
              <button routerLink="/login" type="submit" id="button" class="btn btn-primary">
                  Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  </div>
</div>
