<div class="container-fluid bg-default pb-4">
  <div class="container-fluid py-4">
    <h1 id="heading" class="mb-0 heading pt-4">APPOINTMENT</h1>
    <h1 id="green" class="mb-0 heading pt-4"> HISTORY</h1>
    <nav aria-label="breadcrumb" id="navBar">
        <ol class="breadcrumb bg-default" >
          <li class="breadcrumb-item"><a routerLink="/patient/home"><i id="breadCrumb" class="fas fa-home fa-6"></i></a></li>
         <li id="breadCrumb" class="breadcrumb-item active" aria-current="page">Appointment History</li>
        </ol>
      </nav>

  </div>
  <div class="card mx-2" id="manage_doctor_card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-6">
          <h3 class="mb-0">Appointments</h3>
        </div>

      </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table table-flush align-items-center">
        <thead class="thead-light">
          <tr>
            <th>Doctor Name</th>
            <th>Time Slot</th>
            <th>Date Of Appointment</th>
            <th>Status</th>
            <th>Tests/Prescription.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let app of appointments">
            <td class="table-user">
              <img *ngIf="app.doctor.gender=='Male'" src="../../assets/img/doctor.png"
                class="avatar rounded-circle mr-3">
              <img *ngIf="app.doctor.gender=='Female'" src="../../assets/img/doctor-female.png"
                class="avatar rounded-circle mr-3">
              <b>{{app.doctor.firstName}} {{app.doctor.lastName}}</b>
            </td>
            <td>
              <div *ngIf="app.timeSlot==1">
                10 AM to 12 PM
              </div>
              <div *ngIf="app.timeSlot==2">
                2 PM to 4 PM
              </div>
              <div *ngIf="app.timeSlot==3">
                6 PM to 9 PM
              </div>

            </td>
            <td>
              {{app.dateOfAppointment | date:'dd/MM/yyyy'}}

            </td>

            <td>
              <span *ngIf="app.status=='approved'" class=" badge badge-dot mr-4"><i class=" bg-success"></i>
                <span class=" status">
                  approved </span></span>
              <span *ngIf="app.status=='completed'" class=" badge badge-dot mr-4"><i class=" bg-default"></i>
                <span class=" status">
                  completed </span></span>
              <span *ngIf="app.status=='pending'" class=" badge badge-dot mr-4"><i class=" bg-warning"></i>
                <span class=" status">
                  pending </span></span>

              <span *ngIf="app.status=='rejected'" class=" badge badge-dot mr-4"><i class=" bg-danger"></i>
                <span class=" status">
                  rejected </span></span>

            </td>

            <td>
              <button id="viewbutton" (click)="view(app)"
                class="btn btn-sm btn-primary btn-round btn-icon text-right mr-0 ml-4" data-toggle="tooltip">
                <span class="btn-inner--icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                <span class="btn-inner--text">View</span>
              </button>
            </td>
        </tbody>
      </table>
    </div>
  </div>
